<!DOCTYPE html>
<!-- docs.ejs -->
<html class="no-js" lang="">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145358157-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145358157-1');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      mongoose-bones Contributing
    </title>
    <meta name="description" content="Express/Mongoose Restful API built on Schema.org Types, **the elioWay**.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico"/>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/dist/css/sloth.min.css">
  </head>

  <body>

    <nav>
      <a href="index.html">
        <img src="apple-touch-icon.png"/>
        <b>mongoose-bones</b>
      </a>
      
        
        <a href="#repo">
                Repo</a>
        
        <a href="#contributing">
                Contributing</a>
        
      
      <hr>

      
        

         <a href="/eliobones">
          <img src="/eliobones/apple-touch-icon.png"/>
          <b>eliobones</b>
        </a>
        
      

      <nav>
        
          
        
      </nav>
    </nav>

    <h1 id="mongoose-bones-contributing">mongoose-bones Contributing</h1>
<h2 id="repo">Repo</h2>
<pre><code class="language-shell">git clone https://gitlab.com/elioway/elioway.gitlab.io.git elioway
cd elioway
git clone https://gitlab.com/elioway/elioangels.git
git clone https://gitlab.com/elioway/eliobones.git
git clone https://gitlab.com/elioway/eliothing.git
cd elioangels
git clone https://gitlab.com/elioangels/daemon.git
git clone https://gitlab.com/elioangels/pinocchio.git
cd eliothing
git clone https://gitlab.com/eliothing/thing.git
git clone https://gitlab.com/eliothing/mongoose-thing.git
git clone https://gitlab.com/eliothing/liar-thing.git
cd eliobones
git clone https://gitlab.com/eliobones/mongoose-bones.git
cd eliobones/mongoose-bones
</code></pre>
<h2 id="contributing">Contributing</h2>
<ul>
<li><a href="/elioangels/daemon/quickstart.html">Quickstart daemon</a></li>
</ul>
<pre><code class="language-shell"># wake it up?
docker version --format &quot;v{{.Client.Version}}&quot;
minikube start
</code></pre>
<ul>
<li><a href="/elioangels/jeeves/cheat-docker-compose.html">Cheat docker-compose</a></li>
<li><a href="/eliobones/mongo-daemon/recipe.html">mongo-daemon Recipe</a></li>
</ul>
<pre><code class="language-shell">cd path/to/elioapp
docker-compose up
</code></pre>
<h3 id="npm-test"><code>npm test</code></h3>
<h3 id="npm-run-prettier"><code>npm run prettier</code></h3>
<h3 id="npm-run-dev"><code>npm run dev</code></h3>
<h3 id="todos">TODOS</h3>
<ol>
<li>The <code>bones</code> folder is from the <strong>bones</strong> module. Extract the universal stuff.</li>
</ol>


    <footer>
      <a href="https://gitlab.com/eliobones/mongoose-bones/">GitLab</a> |
      <a href="contributing.html">Contribute</a> |
      <a href="credits.html">Credits</a>
      <img src="elio-mongoose-bones-logo.png">
      <label>&copy; 2023 Made **the elioWay**</label>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="/dist/js/adons.js"></script>
    <script src="/dist/js/main.js"></script>

  </body>

</html>
